body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Courier New', cursive, monospace;
  background-color: rgba(3, 193, 190, 1);
}

a {
  color: #00B7FF;
}
